img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.display, .promo_item, .about_data, .description_info_top, .description_main, .description, .info_btn, .info_img, .nav_right, .nav_list, .nav_left, .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.display, .promo_item, .about_data, .description_info_top, .description_main, .description, .info_btn, .info_img, .nav_right, .nav_list, .nav_left, .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.head_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 200px;
  background-color: rgb(62, 209, 185);
}

.nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav_left {
  gap: 20px;
  padding-top: 35px;
}
.nav_left > h2 {
  padding-bottom: 1px;
  font-size: 35px;
  letter-spacing: 2px;
  color: white;
}
.nav_list {
  padding: 10px;
  margin-left: 15px;
  padding-bottom: 1px;
}
.nav_list > li {
  display: inline;
  list-style: none;
  margin: 0 10px;
}
.nav_list > li > a:hover {
  color: rgb(62, 209, 185);
}
.nav_right {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 245px;
  margin: 0 15px;
  gap: 10px;
}
.nav_right > a {
  width: 100%;
  height: 50%;
  border-radius: 25px;
  border: 3px solid whitesmoke;
  color: whitesmoke;
  font-size: 17px;
  text-decoration: none;
  padding-top: 6px;
  padding-left: 3px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav_right > a:hover {
  background-color: whitesmoke;
  color: rgb(62, 209, 185);
}
.nav_iconPhone {
  overflow: hidden;
  padding-top: 1px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.info_circle {
  width: 400px;
  height: 400px;
  background-color: rgb(248, 252, 255);
  border-radius: 50%;
}
.info_avatar {
  position: absolute;
  top: 70px;
  width: 100%;
  height: 400px;
  right: 48px;
}
.info_imgRgt {
  position: relative;
  width: 600px;
  height: 600px;
}
.info_icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}
.info_img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.info_man {
  padding-top: 12rem;
  width: 600px;
  height: 600px;
}
.info_img > h2 {
  border-radius: 20px;
  background-color: azure;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 40px;
  padding: 2px 25px;
}
.info_work > h1 {
  width: 100%;
  border-radius: 20px;
  background-color: azure;
  font-size: 40px;
  padding: 0 10px;
  margin: auto;
  color: green;
  margin-top: 25px;
}
.info_btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  height: 50px;
  width: 120px;
  border-radius: 30px;
  color: red;
  align-items: center;
  background-color: rgb(68, 39, 177);
  margin-top: 25px;
}
.info_btn > a {
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 1px;
  color: aliceblue;
}
.info_btn:hover {
  background-color: rgb(62, 209, 185);
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.display, .promo_item, .about_data, .description_info_top, .description_main, .description, .nav, .nav_left, .nav_list, .nav_right, .info_img, .info_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.description_main {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  margin-top: 60px;
  padding-left: 15rem;
  padding-bottom: 50px;
}
.description_image > img {
  padding-top: 5rem;
  padding-left: 5rem;
  width: 700px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.description_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.description_info_top {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  background-color: rgb(30, 145, 106);
  height: 190px;
  width: 640px;
  border-radius: 10px;
  margin-top: 85px;
  padding-left: 15rem;
  padding-right: 2rem;
}
.description_info_top > img {
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100px;
}
.description_info_top > h2 {
  font-size: 30px;
  color: azure;
}
.description_info_bottom {
  font-size: 20px;
  letter-spacing: 2px;
  color: darkgray;
  width: 700px;
  height: 100px;
}
.description_info_bottom > h2 {
  color: black;
  text-align: left;
  font-size: 40px;
  margin-bottom: 10 0px;
}

.about {
  padding-top: 150px;
  background-color: whitesmoke;
  height: 600px;
}
.about_data {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about_table {
  border: 1px solid rgb(206, 206, 206);
  width: 25%;
  height: 250px;
  border-radius: 20px;
  line-height: 45px;
}
.about_table_name > h2 {
  border-bottom: 1px solid rgb(206, 206, 206);
  font-size: 40px;
  padding-left: 10px;
}
.about_table_list {
  padding-left: 35px;
  margin: auto;
  border-right: 1px solid rgb(206, 206, 206);
}
.about_table_fon {
  background-color: rgb(206, 206, 206);
}
.about_table_green {
  color: rgb(20, 173, 97);
}
.about_expereance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 600px;
  height: 600px;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.display, .promo_item, .nav, .nav_left, .nav_list, .nav_right, .info_img, .info_btn, .description, .description_main, .description_info_top, .about_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.promo {
  padding-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: 800px;
}
.promo_title {
  padding-top: 0;
  font-weight: 300;
  font-size: 75px;
}
.promo_item {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 55px;
}
.promo_item_img {
  height: 100px;
  max-width: 550px;
  overflow: hidden;
  padding-left: 65px;
}
.promo_item_img_effect:hover {
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  height: 1000px;
  width: 1000px;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.display, .nav, .nav_left, .nav_list, .nav_right, .info_img, .info_btn, .description, .description_main, .description_info_top, .about_data, .promo_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
  height: 1200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 100px;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
  height: 800px;
}
.services_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.services_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: aquamarine;
  width: 1000px;
  height: 700px;
  border-radius: 30px;
}
.services_top_icon {
  width: 15%;
  height: auto;
  border-radius: 25px;
  overflow: hidden;
}
.services_top > p {
  font-size: 80px;
  color: white;
}
.services .services_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 600px;
  height: 600px;
  border: 1px solid red;
}
.services .services_main_box {
  width: 200px;
  height: 200px;
  margin: 20px;
  border: 1px solid green;
}
.services .services_main_img {
  border: 1px solid violet;
  width: 150px;
  height: 200px;
  position: relative;
}
.services .services_main_img_main {
  position: absolute;
  width: 20%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}