@import "./variables.scss";

.service{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 1200px;
    justify-content: center;
    align-items: center;    
    padding-top: 100px;
}
.services{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 800px;
    &_box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &_top{
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: aquamarine;
        width: 1000px;
        height: 700px;
        border-radius: 30px;
            &_icon{
                width: 15%;
                height: auto;
                border-radius: 25px;
                overflow: hidden;
        }
    }
    &_top > p{
        font-size: 80px;
        color: white;
    }
    .services_main{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 600px;
        height: 600px;
        border: 1px solid red;
        
        &_box{
            width: 200px;
            height: 200px;
            margin: 20px;
            border: 1px solid green;
            
        }
        &_img {
            border: 1px solid violet;
            width: 150px;
            height: 200px;
            position: relative;
            &_main{
                position: absolute;
                width: 20%;
            }
        }
    }
}
